<div class="layout">
  <div class="grid">
    <div
      class="grid-header"
      *ngFor="let columnIndex of indices"
      [ngStyle]="getColumnHeaderStyle(columnIndex)"
    >
      {{ columnIndex + 1 }}
    </div>
    <ng-template ngFor let-rowIndex [ngForOf]="indices">
      <div class="grid-header" [ngStyle]="getRowHeaderStyle(rowIndex)">
        {{ rowIndex + 1 }}
      </div>
      <div
        *ngFor="let columnIndex of indices"
        [ngStyle]="getCoordinateStyle(rowIndex, columnIndex)"
      >
        <app-coordinate
          [rowIndex]="rowIndex"
          [columnIndex]="columnIndex"
        ></app-coordinate>
      </div>
    </ng-template>
  </div>
  <div>
    <h2>Aircraft Carrier</h2>
    <form>
      <div>
        <label for="startCoordinate">Start Coordinate</label>
        <input
          type="text"
          id="startCoordinate"
          name="startCoordinate"
          [(ngModel)]="ac.startCoordinate"
        />
      </div>
      <app-end-coordinate-select
        [startCoordinate]="ac.startCoordinate"
        (coordinateSelected)="onEndCoordinateSelected($event)"
      ></app-end-coordinate-select>
      <button type="submit" (click)="onAddAircraftCarrier()">Add</button>
      <button type="submit" (click)="onRemoveAircraftCarrier()">Remove</button>
    </form>
  </div>
</div>
