.grid {
  $size: 480px;
  $repeat: 11;
  width: $size;
  height: $size;

  display: grid;
  grid-template-columns: repeat($repeat, 1fr);
  grid-template-rows: repeat($repeat, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.grid-header {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.coordinate-ship {
  background-color: gray;
}

.coordinate-hit {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(130, 132, 130, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.ship {
  width: 24px;
  height: 24px;
  display: inline-block;
}
