<div>
  <label for="endCoordinate">End Coordinate</label>
  <select
    name="endCoordinate"
    id="coordinate"
    #endCoordinate
    [ngModel]="coordinate"
    (ngModelChange)="onChange($event)"
  >
    <option *ngFor="let coordinate of coordinates" [value]="coordinate">{{
      coordinate
    }}</option>
  </select>
</div>
