.container {
  width: 100%;
  height: 100%;
}

.coordinate {
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.aircraft-carrier {
  background-color: #501fb1;
  color: white;
}

.battleship {
  background-color: #c20094;
}

.destroyer {
  background-color: #fb2c6f;
}

.cruiser {
  background-color: #ff7950;
}

.submarine {
  background-color: #ffbc48;
}
